# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
.gradle
gradle/wrapper
gradlew.bat
gradlew
build/tmp/war
Communicator/build
Communicator/gradle/wrapper/

# for python
.project
.pydevproject

# for android
LicentaMobile/.gradle
LicentaMobile/.idea
LicentaMobile/gradle
LicentaMobile/build.gradle
LicentaMobile/gradlew
LicentaMobile/gradlew.bat
LicentaMobile/local.properties
LicentaMobile/app/build
LicentaMobile/app/libs
LicentaMobile/app/proguard-rules.pro